<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" th:inline="javascript">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>カレー屋のネット注文 管理者注文一覧</title>
    <link rel="icon" th:href="@{/img_curry/curry_pot.png}" type="image/x-icon" />
    <link th:href="@{/css/bootstrap.css}" href="../../static/css/bootstrap.css" rel="stylesheet" />
    <link th:href="@{/css/curry.css}" href="../../static/css/curry.css" rel="stylesheet" />
    <link th:href="@{/css/admin_order_list.css}" href="../../static/css/admin_order_list.css" rel="stylesheet" />
</head>

<body>
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span> <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/showList}">
                        <!-- 企業ロゴ -->
                        <img alt="main logo" th:src="@{/img_curry/header_logo.png}" height="35" />
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <p class="navbar-text navbar-right">
                        <a th:href="@{/admin}" class="navbar-link">注文一覧</a>&nbsp;&nbsp;
                        <!-- Spring Securityの認証状態に応じて表示 -->
                        <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="navbar-link">ログアウト</a>
                    </p>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>

    <form method="get" th:action="@{/admin/list}">
        <div class="row">
            <h3 class="text-center">注文検索</h3>
            <div th:if="${errorFlg}">
                <span style="color: red" th:text="検索する値を入力してください"></span>
            </div>

            <div class="flex-container mt-20 mb-20">

                <select id="searchField" name="searchField" class="w-30 h-25" th:value="${searchField}">
                    <option value="id">注文ID</option>
                    <option value="orderDate">注文日</option>
                    <option value="name">注文者</option>
                    <option value="telephone">電話番号</option>
                    <option value="status">ステータス</option>
                    <option value="deliveryTime">希望日時</option>
                    <option value="completionTime">完了日時</option>
                    <option value="payMethod">支払方法</option>
                </select>

                <div id="searchInputArea">
                    <div class="w-30 h-25">
                        <input name="searchValue1" value="">
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mb-20">
            <button type="submit" value="検索" class="btn btn-primary">
                検索
            </button>
            <button type="button" value="クリア" class="btn btn-default" id="clear_button">
                クリア
            </button>
        </div>
    </form>

    <div class="col-sm-offset-9 col-sm-2">
        検索結果：
        <span th:text="${result != null} ? ${result + '件'} : '0件'"></span>
    </div>
    <div class="col-sm-offset-1 col-sm-10">
        <table class="table table-striped item-list-table">
            <tbody>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">注文日</th>
                    <th class="text-center">注文者</th>
                    <th class="text-center">電話番号</th>
                    <th class="text-center">ステータス</th>
                    <th class="text-center">配達希望日時</th>
                    <th class="text-center">配達完了日時</th>
                    <th class="text-center">支払方法</th>
                </tr>

                <tr th:if="${emptyFlg}">
                    <td colspan="8">
                        <h3 class="text-center">該当する注文はありません</h3>
                    </td>
                </tr>
                <tr th:if="${completeFlg}">
                    <td colspan="8">
                        <h3 class="text-center">更新が完了しました</h3>
                    </td>
                </tr>

                <th:block>
                    <tr th:each="order : ${orderList}">
                        <td class="text-center">
                            <a th:href="@{'/admin/detail/' + ${order.id}}" th:text="${order.id}" target="_blank">1</a>
                        </td>
                        <td class="text-center" th:text="${#dates.format(order.orderDate, 'yyyy年M月d日')}">2025年5月28日
                        </td>
                        <td class="text-center" th:text="${order.user.name}">山田太郎</td>
                        <td class="text-center" th:text="${order.user.telephone}">080-7800-0000</td>
                        <td class="text-center" th:switch="${order.status}">
                            <span th:case="1">未入金</span>
                            <span th:case="2">入金済</span>
                            <span th:case="3">発送済</span>
                            <span th:case="4">配達完了</span>
                            <span th:case="9">キャンセル</span>
                        </td>
                        <td class="text-center" th:if="${order.deliveryTime != null}"
                            th:text="${#dates.format(order.deliveryTime, 'yyyy年M月d日 H時')}">
                        </td>
                        <td class="text-center" th:unless="${order.deliveryTime != null}">
                            ---
                        </td>
                        <td class="text-center" th:if="${order.completionTime != null}"
                            th:text="${#dates.format(order.completionTime, 'yyyy年MM月dd日 HH時mm分')}">
                            2025年5月30日 14時</td>
                        <td class="text-center" th:unless="${order.completionTime != null}" th:text="---">
                        </td>
                        <td class="text-center" th:switch="${order.paymentMethod}">
                            <span th:case="1">代金引換</span>
                            <span th:case="2">クレジットカード</span>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
        <!-- ページング機能 -->
        <div class="text-center">
            <div th:if="${orderPage != null and orderPage.totalPages > 0}" class="pagination">
                <span th:each="pageNumber : ${pageNumbers}">
                    <a th:href="@{/admin/list(size=${orderPage.size}, page=${pageNumber},searchField=${searchField},searchValue1=${searchValue1},searchValue2=${searchValue2})}"
                        th:text="${pageNumber}" th:class="${pageNumber == orderPage.number + 1} ? 
                  'btn btn-primary' : 'btn btn-secondary'"></a>
                </span>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/admin_list.js}"></script>
    <script type="text/javascript" th:src="@{/js/reset.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>
