<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>カレー屋のネット注文 ショッピングカート</title>
    <link rel="icon" href="/img_curry/curry_pot.png" type="image/x-icon" />
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/curry.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div th:insert="~{header::header}"></div>

    <!-- table -->
    <div class="row">
        <div class="table-responsive col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12">
            <h3 class="text-center">ショッピングカート</h3>
            <table class="table table-striped item-list-table">
                <tbody>
                <tr>
                    <th style="width: 25%;"><div class="text-center">商品名</div></th>
                    <th style="width: 25%;"><div class="text-center">サイズ、価格(税込み)、数量</div></th>
                    <th style="width: 25%;"><div class="text-center">トッピング、価格(税込み)</div></th>
                    <th style="width: 15%;"><div class="text-center">小計</div></th>
                    <th style="width: 10%;"></th>
                </tr>

                <tr th:if="${cartNothing != null}">
                    <td colspan="5">
                        <h3 class="text-center" th:text="${cartNothing}"></h3>
                    </td>
                </tr>

                <th:block th:if="${cartOrder != null and cartOrder.orderItemList != null}">
                    <tr th:each="cart, status : ${cartOrder.orderItemList}">
                        <td>
                            <div class="text-center">
                                <img th:src="@{/img_curry/}+${cart.item.imagePath}" class="img-responsive img-rounded item-img-center" width="100" height="300" />
                                <span th:text="${cart.item.name}"></span>
                                <div class="text-danger small" style="margin-top: 5px; min-height: 1.5em;">
                                    <span th:if="${errorMessages != null and errorMessages[cart.itemId] != null}"
                                          th:text="${errorMessages[cart.itemId]}"></span>
                                </div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span th:text="${cart.size}" class="price"></span>
                            &nbsp;&nbsp;<span th:text="${#numbers.formatInteger(cart.itemPrice,1,'COMMA')}+'円'"></span>
                            &nbsp;&nbsp;<span th:text="${cart.quantity}+'個'"></span>
                        </td>
                        <td>
                            <ul th:if="${cart.orderTopping != null}" th:each="cartTopping : ${cart.orderTopping}">
                                <li th:text="${cartTopping.topping.name}+${cartTopping.price}+'円'"></li>
                            </ul>
                            <div th:if="${cart.orderTopping == null or cart.orderTopping.size() == 0}" class="text-center">
                                <span>トッピングなし</span>
                            </div>
                        </td>
                        <td>
                            <div class="text-center" th:text="${#numbers.formatInteger(cart.subTotal,1,'COMMA')}+'円'"></div>
                        </td>
                        <td>
                            <div class="text-center">
                                <form th:action="@{/delete}">
                                    <input type="hidden" name="cartItemId" th:value="${cart.id}">
                                    <input type="hidden" name="index" th:value="${status.index}">
                                    <button type="submit" class="btn btn-primary btn-sm">削除</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div th:if="${cartNothing == null}">
            <div class="col-xs-offset-1 col-xs-10">
                <div class="form-group text-center">
                    <span id="total-price">ご注文金額合計：
                        <span th:text="${#numbers.formatInteger(cartOrder.totalPrice,1,'COMMA')}"></span>円 (税込み)
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-offset-2 col-lg-offset-4 col-xs-8 col-lg-4">
            <div th:if="${cartNothing == null}">
                <div class="form-group">
                    <form th:action="@{/toOrder}">
                        <input class="form-control btn btn-warning btn-block" type="submit" value="注文に進む" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end container -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
