.flex-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.mt-20{
    margin-top: 20px;
}

.mb-20{
    margin-bottom: 20px;
}

.w-30{
    width: 30%;
    max-width: 170px;
}

.h-25{
    height: 25px;
}
